.about-app {
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;
  &__title {
    text-align: left;
    font-size: 36px;
    line-height: 56px;
    color: $black;
    font-weight: 700;
    position: relative;
    margin-bottom: 50px;
    width: 100%;

    &::after {
      content: "";
      background-color: $black;
      height: 2px;
      width: 60px;
      position: absolute;
      bottom: -25px;
      left: 0;
    }
  }

  &__boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 37px;
    &__box {
      width: 307px;
      height: 354px;
      background-color: #fff;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
      padding: 20px 20px 10px 20px;
      transition: all 0.3s;
      cursor: default;

      &__title {
        width: 100%;
        font-size: 24px;
        color: #000;
      }

      &__text {
        width: 100%;
        font-size: 16px;
        font-weight: 300;
        color: $normal-blue;
        line-height: 28px;
      }

      &__img {
        width: 145px;
      }
    }
  }
}

.circles {
  display: none;
}

@media (min-width: 575px) {
  .about-app__title {
    text-align: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (min-width: 768px) {
  .about-app__boxes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 50px auto 0;
  }
  .about-app {
    margin-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .about-app__boxes {
    &__box {
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .circles {
    display: block;
    position: absolute;
    right: 3%;
    top: 50px;
    width: 150px;
    z-index: -1;
  }
}

@media (min-width: 1400px) {
  .about-app__boxes {
    max-width: 1200px;

    &__box {
      width: 375px;
    }
  }
}

@media (min-width: 1700px) {
  .circles {
    right: 5%;
  }
}
@media (min-width: 1800px) {
  .circles {
    right: 7%;
  }
}
@media (min-width: 1900px) {
  .circles {
    right: 9%;
  }
}
