.about-us {
  padding: 0 20px;
  position: relative;
  margin-bottom: 20px;

  &__title {
    text-align: center;
    font-size: 36px;
    line-height: 56px;
    color: $black;
    font-weight: 700;
    position: relative;
    margin-bottom: 50px;

    &::after {
      content: "";
      background-color: $black;
      height: 2px;
      width: 60px;
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: $normal-blue;
  }
}

.wave-desktop {
  display: none;
}

@media (min-width: 768px) {
  .about-us__text {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .about-us__text {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .about-us__text {
    font-size: 24px;
    width: 85%;
  }

  .wave-desktop {
    display: block;
    position: absolute;
    top: 40%;
    left: -20%;
    z-index: -1;
  }

  .about-us {
    margin-bottom: 100px;
  }
}
