#back-top {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 50px;
  transition: all 0.3s;
  z-index: 100000;

  & i {
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 27px;
    color: $dark-green-h;
    transition: all 0.3s;
  }

  &:hover {
    background-color: $dark-green-h;

    & i {
      color: #fff;
    }
  }
}
