.bhp-container {
  margin-bottom: 20px;
  position: relative;
  z-index: -1;
  &__title {
    font-size: 30px;
    padding: 20px;
    line-height: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__phone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-bottom: 70px;
    transition: all 0.3s;
    animation: phoneToLeft 1s 0.2s;
    animation-fill-mode: both;

    & img {
      width: 270px;
      margin-bottom: 30px;
    }

    &__text {
      padding: 0 20px;
      font-weight: 300;
      font-size: 18px;
      color: $normal-blue;
      line-height: 32px;
      position: relative;
      margin-bottom: 30px;

      & img {
        position: absolute;
        top: -6%;
        right: -47%;
        width: 1000px;
        z-index: -1;
        width: 880px;
      }
    }
  }
  &__text {
    display: none;
  }

  &__download {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
}

.bhp-container__download-desktop {
  display: none;
}

#google-logo,
#apple-logo {
  width: 150px;
  margin-bottom: 0;
  cursor: pointer;
}

#google-logo {
  width: 165px;
  position: relative;
  left: -10px;
}

.bhp-container__left-side {
  animation: leftSideRight 1s 0.2s;
  animation-fill-mode: both;
  transform: translateX(-100px);
  opacity: 0;
}

@media (min-width: 450px) {
  .bhp-container__phone img {
    width: 350px;
  }
  .bhp-container__phone img.wave-img {
    width: 1000px;
    top: -5%;
    right: -40%;
  }

  .bhp-container {
    &__title {
      font-size: 36px;
    }
  }
}

@media (min-width: 500px) {
  .bhp-container__phone img.wave-img {
    right: -20%;
  }
  .bhp-container__phone {
    padding-bottom: 20px;
  }
}

@media (min-width: 650px) {
  .bhp-container__phone img.wave-img {
    width: 1500px;
    top: -15%;
    right: -25%;
  }
}

@media (min-width: 768px) {
  .bhp-container {
    display: flex;

    &__title {
      text-align: left;
      padding-top: 40px;
    }
  }
  .bhp-container__phone img.wave-img {
    display: none;
  }
  .bhp-container__phone__text,
  .bhp-container__download {
    display: none;
  }
  .bhp-container__download-desktop {
    display: flex;
    align-items: center;
  }
  .bhp-container__text {
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .bhp-container {
    align-items: center;
    &__phone img {
      position: relative;
    }

    &__phone {
      width: 50%;
    }
    &__left-side {
      width: 75%;
      padding: 0 20px;
    }
  }
  .bhp-container__title {
    padding: 40px 0 0;
    margin-bottom: 20px;
  }

  #apple-logo {
    height: 44px;
  }
  .bhp-container__phone img {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .bhp-container__phone img {
    right: -45px;
  }
  .bhp-container__title {
    font-size: 44px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .bhp-container__title {
    font-size: 50px;
    line-height: 70px;
  }
  .bhp-container__phone img {
    width: 400px;
  }
}
@media (min-width: 1400px) {
  .bhp-container__title {
    font-size: 56px;
    line-height: 80px;
    width: 90%;
  }
  .bhp-container__text {
    font-size: 24px;
    line-height: 32px;
    width: 75%;
  }
  #google-logo,
  #apple-logo {
    width: 250px;
  }

  #google-logo {
    left: -15px;
  }

  #apple-logo {
    height: 65px;
  }

  .bhp-container__phone img {
    width: 500px;
  }
  .bhp-container {
    justify-content: space-between;
    padding: 0 20px;
  }
  .bhp-container__phone {
    width: 35%;
  }
}

@media (min-width: 1700px) {
  .bhp-container {
    justify-content: center;
    padding: 0 150px;
  }
  .bhp-container__text {
    margin-bottom: 40px;
  }
}

@keyframes phoneToLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes leftSideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
