.contact {
  padding: 0 30px;
  position: relative;
  &__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    color: $black;
    font-weight: 400;
    margin-bottom: 60px;
  }

  & input,
  & textarea {
    width: 100% !important;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding-left: 20px;

    & ::placeholder,
    & ::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #828282;
    }

    &:focus-visible,
    &:focus-visible {
      border-color: $normal-green;
    }
  }

  & textarea {
    padding-top: 12px;
  }

  & input {
    height: 50px;
  }

  &__btn {
    width: 100%;
    height: 50px;
    background-color: $normal-green;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;

    &:active {
      transform: translateY(3px);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }
  }

  &__form {
    max-width: 902px;
    margin: 0 auto 60px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 50px;
    &__box {
      display: flex;
      align-items: center;
      gap: 15px;

      &__left-side {
      }

      &__right-side {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__title,
        &__link {
          font-size: 24px;
          line-height: 20px;
          color: $black;
          font-weight: 400;
        }

        &__link {
          color: $dark-green-h;
        }
      }
    }
  }

  &__big-wave {
    position: absolute;
    display: none;
  }
}

@media (min-width: 575px) {
  .contact {
    &__data {
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media (min-width: 768px) {
  .contact {
    &__title,
    &__text {
      text-align: center;
    }
  }
}
@media (min-width: 992px) {
  .contact {
    &__form {
      padding: 50px;
      background-color: $white;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
    }
  }
}
@media (min-width: 1400px) {
  .contact {
    &__big-wave {
      display: block;
      top: -90%;
      z-index: -1;
      left: -69%;
      width: 2300px;
    }
  }
}
@media (min-width: 1400px) {
  .contact {
    &__big-wave {
      width: 2300px;
    }
  }
}
@media (min-width: 1600px) {
  .contact {
    &__big-wave {
      width: 2600px;
    }
  }
}
@media (min-width: 1700px) {
  .contact {
    &__big-wave {
      width: 2800px;
    }
  }
}
@media (min-width: 1800px) {
  .contact {
    &__big-wave {
      width: 2900px;
    }
  }
}
@media (min-width: 1900px) {
  .contact {
    &__big-wave {
      width: 3100px;
      top: -95%;
    }
  }
}
