.container {
  width: 100%;

  &__header {
    position: relative;
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.3s;
    animation: downNav 1s;
    animation-fill-mode: both;
  }

  &__header__navigation--mobile {
    height: 100px;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

    &__logo {
      width: 150px;
    }

    &-box {
      position: absolute;
      width: 100%;
      height: auto;
      padding: 30px 20px;
      transition: all 0.4s;
      background-color: #fff;
      left: -100%;
      top: 100px;
      height: 540px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      z-index: 0;
      opacity: 9999;
      justify-content: center;

      &.is-active {
        left: 0;
        opacity: 1;
      }

      &__link {
        color: $normal-blue;
        font-size: 18px;
        font-weight: 400;
        position: relative;
        transition: all 0.3s;

        &:not(.log):hover {
          color: $normal-green;
        }

        &:not(.log)::after {
          position: absolute;
          content: "";
          background-color: $normal-green;
          height: 2px;
          left: 0;
          bottom: -5px;
          width: 0%;
          transition: all 0.3s;
        }

        &:not(.log):hover::after {
          width: 25%;
        }

        &.log {
          color: #fff;
          background-color: $normal-green;
          width: 200px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          text-transform: uppercase;
          font-size: 16px;
          transition: all 0.3s;

          &:hover {
            background-color: transparent;
            border: 2px solid $normal-green;
            color: $normal-green;
          }
        }
      }
    }
  }
}

.hamburger {
  position: relative;
  width: 42px;
  display: block;
  cursor: pointer;
  height: 2px;
  appearance: none;
  background-color: none;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  &__bar,
  &::before,
  &::after {
    position: absolute;
    content: "";
    background-color: $normal-green;
    width: 100%;
    height: 2px;
    display: block;
    transition: all 0.3s;
    left: 0;
  }
  &::before {
    top: 15px;
  }
  &::after {
    bottom: 15px;
  }

  &.is-active::before {
    transform: rotate(45deg);
    top: 25px;
  }

  &.is-active::after {
    transform: rotate(-45deg);
    top: 25px;
  }

  &.is-active &__bar {
    opacity: 0;
  }
}

@media (min-width: 992px) {
  .hamburger,
  .container__header__navigation--mobile-box {
    display: none;
  }

  .container__header__navigation--mobile__logo {
    width: 260px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container__header__navigation--mobile__logo {
    width: 200px;
  }
}

@keyframes downNav {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
