* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: $white;
  width: 100%;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
}

html {
  scroll-behavior: smooth;
}
