///////////////////// Classic /////////////////////

$black: #000000;
$white: #ffffff;

///////////////////// Blue /////////////////////

$light-blue: #ebecec;
$light-blue-h: #e1e2e2;
$light-blue-a: #c0c3c3;

$normal-blue: #353e3f;
$normal-blue-h: #303839;
$normal-blue-a: #2a3232;

$dark-blue: #282f2f;
$dark-blue-h: #202526;
$dark-blue-a: #181c1c;

$darker-blue: #131616;

///////////////////// Green /////////////////////

$light-green: #e8f9fa;
$light-green-h: #dcf6f8;
$light-green-a: #b7ecf0;

$normal-green: #17c3ce;
$normal-green-h: #15b0b9;
$normal-green-a: #129ca5;

$dark-green: #11929b;
$dark-green-h: #0e757c;
$dark-green-a: #0a585d;

$darker-green: #084448;
