.why-we {
  padding: 0 20px;
  margin-bottom: 40px;

  &__title {
    font-size: 36px;
    font-weight: 700;
    color: $black;
    line-height: 56px;
    position: relative;
    margin-bottom: 50px;

    &::after {
      position: absolute;
      content: "";
      background-color: #000;
      height: 2px;
      width: 56px;
      left: 0;
      bottom: -25px;
    }
  }

  &__photo {
    display: none;

    & img {
      width: 100%;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: $normal-blue;
  }
}

@media (min-width: 768px) {
  .why-we {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 50px;

    &__photo {
      display: block;
    }

    &__left-side {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media (min-width: 1200px) {
  .why-we {
    margin-bottom: 150px;
    &__photo {
      width: 40%;
    }
  }
}
@media (min-width: 1700px) {
  .why-we {
    padding: 0 170px;
    &__text {
      max-width: 90%;
    }

    &__photo img {
      width: 80%;
    }
  }
}
