* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  width: 100%;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  height: 500vh;
  position: relative;
  z-index: -5;
}

html {
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

.log-link {
  background-color: #17c3ce;
  width: 200px;
  display: block;
  margin: 0 auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 60px;
  color: #ffffff;
}

.blue-text {
  color: #17c3ce;
}

.bold-text {
  font-weight: 700;
}

.hidden {
  opacity: 0;
}

.to-down {
  -webkit-animation: toDown 0.4s;
          animation: toDown 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes toDown {
  0% {
    top: 300px;
    opacity: 0;
  }
  100% {
    top: 355px;
    opacity: 1;
  }
}

@keyframes toDown {
  0% {
    top: 300px;
    opacity: 0;
  }
  100% {
    top: 355px;
    opacity: 1;
  }
}

.container {
  width: 100%;
}

.container__header {
  position: relative;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation: downNav 1s;
          animation: downNav 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.container__header__navigation--mobile {
  height: 100px;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.container__header__navigation--mobile__logo {
  width: 150px;
}

.container__header__navigation--mobile-box {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 30px 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  left: -100%;
  top: 100px;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  z-index: 0;
  opacity: 9999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__header__navigation--mobile-box.is-active {
  left: 0;
  opacity: 1;
}

.container__header__navigation--mobile-box__link {
  color: #353e3f;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container__header__navigation--mobile-box__link:not(.log):hover {
  color: #17c3ce;
}

.container__header__navigation--mobile-box__link:not(.log)::after {
  position: absolute;
  content: "";
  background-color: #17c3ce;
  height: 2px;
  left: 0;
  bottom: -5px;
  width: 0%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container__header__navigation--mobile-box__link:not(.log):hover::after {
  width: 25%;
}

.container__header__navigation--mobile-box__link.log {
  color: #fff;
  background-color: #17c3ce;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container__header__navigation--mobile-box__link.log:hover {
  background-color: transparent;
  border: 2px solid #17c3ce;
  color: #17c3ce;
}

.hamburger {
  position: relative;
  width: 42px;
  display: block;
  cursor: pointer;
  height: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: none;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.hamburger__bar, .hamburger::before, .hamburger::after {
  position: absolute;
  content: "";
  background-color: #17c3ce;
  width: 100%;
  height: 2px;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
}

.hamburger::before {
  top: 15px;
}

.hamburger::after {
  bottom: 15px;
}

.hamburger.is-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 25px;
}

.hamburger.is-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 25px;
}

.hamburger.is-active .hamburger__bar {
  opacity: 0;
}

@media (min-width: 992px) {
  .hamburger,
  .container__header__navigation--mobile-box {
    display: none;
  }
  .container__header__navigation--mobile__logo {
    width: 260px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container__header__navigation--mobile__logo {
    width: 200px;
  }
}

@-webkit-keyframes downNav {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes downNav {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.container__header__navigation--desktop {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
}

.container__header__navigation--desktop-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__header__navigation--desktop-box__link {
  font-size: 18px;
  font-weight: 400;
  color: #353e3f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.container__header__navigation--desktop-box__link:not(.log):hover {
  color: #17c3ce;
}

.container__header__navigation--desktop-box__link:not(.log)::after {
  position: absolute;
  content: "";
  background-color: #17c3ce;
  height: 2px;
  left: 0;
  bottom: -5px;
  width: 0%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container__header__navigation--desktop-box__link:not(.log):hover::after {
  width: 25%;
}

.container__header__navigation--desktop-box__link.log {
  color: #fff;
  background-color: #17c3ce;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #17c3ce;
}

.container__header__navigation--desktop-box__link.log:hover {
  background-color: transparent;
  border: 2px solid #17c3ce;
  color: #17c3ce;
}

@media (max-width: 991px) {
  .container__header__navigation--desktop {
    display: none;
  }
}

@media (max-width: 1050px) {
  .container__header__navigation--desktop-box {
    gap: 30px;
  }
}

.bhp-container {
  margin-bottom: 20px;
  position: relative;
  z-index: -1;
}

.bhp-container__title {
  font-size: 30px;
  padding: 20px;
  line-height: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.bhp-container__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding-bottom: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation: phoneToLeft 1s 0.2s;
          animation: phoneToLeft 1s 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.bhp-container__phone img {
  width: 270px;
  margin-bottom: 30px;
}

.bhp-container__phone__text {
  padding: 0 20px;
  font-weight: 300;
  font-size: 18px;
  color: #353e3f;
  line-height: 32px;
  position: relative;
  margin-bottom: 30px;
}

.bhp-container__phone__text img {
  position: absolute;
  top: -6%;
  right: -47%;
  width: 1000px;
  z-index: -1;
  width: 880px;
}

.bhp-container__text {
  display: none;
}

.bhp-container__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.bhp-container__download-desktop {
  display: none;
}

#google-logo,
#apple-logo {
  width: 150px;
  margin-bottom: 0;
  cursor: pointer;
}

#google-logo {
  width: 165px;
  position: relative;
  left: -10px;
}

.bhp-container__left-side {
  -webkit-animation: leftSideRight 1s 0.2s;
          animation: leftSideRight 1s 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
}

@media (min-width: 450px) {
  .bhp-container__phone img {
    width: 350px;
  }
  .bhp-container__phone img.wave-img {
    width: 1000px;
    top: -5%;
    right: -40%;
  }
  .bhp-container__title {
    font-size: 36px;
  }
}

@media (min-width: 500px) {
  .bhp-container__phone img.wave-img {
    right: -20%;
  }
  .bhp-container__phone {
    padding-bottom: 20px;
  }
}

@media (min-width: 650px) {
  .bhp-container__phone img.wave-img {
    width: 1500px;
    top: -15%;
    right: -25%;
  }
}

@media (min-width: 768px) {
  .bhp-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bhp-container__title {
    text-align: left;
    padding-top: 40px;
  }
  .bhp-container__phone img.wave-img {
    display: none;
  }
  .bhp-container__phone__text,
  .bhp-container__download {
    display: none;
  }
  .bhp-container__download-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bhp-container__text {
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .bhp-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bhp-container__phone img {
    position: relative;
  }
  .bhp-container__phone {
    width: 50%;
  }
  .bhp-container__left-side {
    width: 75%;
    padding: 0 20px;
  }
  .bhp-container__title {
    padding: 40px 0 0;
    margin-bottom: 20px;
  }
  #apple-logo {
    height: 44px;
  }
  .bhp-container__phone img {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .bhp-container__phone img {
    right: -45px;
  }
  .bhp-container__title {
    font-size: 44px;
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  .bhp-container__title {
    font-size: 50px;
    line-height: 70px;
  }
  .bhp-container__phone img {
    width: 400px;
  }
}

@media (min-width: 1400px) {
  .bhp-container__title {
    font-size: 56px;
    line-height: 80px;
    width: 90%;
  }
  .bhp-container__text {
    font-size: 24px;
    line-height: 32px;
    width: 75%;
  }
  #google-logo,
  #apple-logo {
    width: 250px;
  }
  #google-logo {
    left: -15px;
  }
  #apple-logo {
    height: 65px;
  }
  .bhp-container__phone img {
    width: 500px;
  }
  .bhp-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  .bhp-container__phone {
    width: 35%;
  }
  .bhp-container__left-side {
    width: 65%;
  }
}

@media (min-width: 1700px) {
  .bhp-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 150px;
  }
  .bhp-container__text {
    margin-bottom: 40px;
  }
}

@-webkit-keyframes phoneToLeft {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes phoneToLeft {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes leftSideRight {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes leftSideRight {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.about-us {
  padding: 0 20px;
  position: relative;
  margin-bottom: 20px;
}

.about-us__title {
  text-align: center;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
}

.about-us__title::after {
  content: "";
  background-color: #000000;
  height: 2px;
  width: 60px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-us__text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #353e3f;
}

.wave-desktop {
  display: none;
}

@media (min-width: 768px) {
  .about-us__text {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .about-us__text {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .about-us__text {
    font-size: 24px;
    width: 85%;
  }
  .wave-desktop {
    display: block;
    position: absolute;
    top: 40%;
    left: -20%;
    z-index: -1;
  }
  .about-us {
    margin-bottom: 100px;
  }
}

@media (min-width: 1700px) {
  .about-us__text {
    width: 1300px;
  }
}

.about-app {
  margin-bottom: 20px;
}

.about-app__title {
  text-align: center;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
  width: 70%;
  margin: 0 auto;
}

.about-app__title::after {
  content: "";
  background-color: #000000;
  height: 2px;
  width: 60px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-app__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  gap: 37px;
}

.about-app__boxes__box {
  width: 307px;
  height: 354px;
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  padding: 20px 20px 10px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about-app__boxes__box__title {
  width: 100%;
  font-size: 24px;
  color: #000;
}

.about-app__boxes__box__text {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  color: #353e3f;
  line-height: 28px;
}

.about-app__boxes__box__img {
  width: 145px;
}

@media (min-width: 768px) {
  .about-app__boxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1000px;
    margin: 50px auto 0;
  }
  .about-app {
    margin-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .about-app__boxes__box:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (min-width: 1400px) {
  .about-app__boxes {
    max-width: 1200px;
  }
  .about-app__boxes__box {
    width: 375px;
  }
}

.next-safety-level {
  padding: 0 20px;
}

.next-safety__title {
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
}

.next-safety__title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -25px;
  background-color: #000;
  height: 2px;
  width: 56px;
}

.next-safety__phone img {
  width: 100%;
}

.next-safety__phone__text {
  display: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #353e3f;
  margin-bottom: 20px;
}

.next-safety__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #353e3f;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .next-safety-level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .next-safety__phone {
    width: 58%;
  }
  .next-safety__left-side {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 992px) {
  .next-safety__title,
  .next-safety__text {
    max-width: 80%;
  }
}

@media (min-width: 1400px) {
  .next-safety-level {
    padding: 0 40px;
  }
}

@media (min-width: 1700px) {
  .next-safety-level {
    padding: 0 170px;
  }
  .next-safety__title {
    max-width: 500px;
  }
  .next-safety__text {
    max-width: 68%;
  }
}

#back-top {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 20px;
  bottom: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100000;
}

#back-top i {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 27px;
  color: #0e757c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#back-top:hover {
  background-color: #0e757c;
}

#back-top:hover i {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */