* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  width: 100%;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

.container__header__navigation--mobile {
  background-color: red;
  height: 100px;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.container__header__navigation--mobile__logo {
  width: 150px;
}

.container__header__navigation--mobile-box {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 30px 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  left: 100%;
  top: 100px;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  z-index: 0;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__header__navigation--mobile-box.is-active {
  left: 0;
  opacity: 1;
}

.container__header__navigation--mobile-box__link {
  color: #353e3f;
  font-size: 18px;
  font-weight: 400;
}

.container__header__navigation--mobile-box__link.log {
  color: #fff;
  background-color: #17c3ce;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 16px;
}

.hamburger {
  position: relative;
  width: 42px;
  display: block;
  cursor: pointer;
  height: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: none;
  outline: none;
  border: none;
}

.hamburger__bar, .hamburger::before, .hamburger::after {
  position: absolute;
  content: "";
  background-color: #17c3ce;
  width: 100%;
  height: 2px;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  top: 10px;
}

.hamburger.is-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.hamburger.is-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.hamburger.is-active .hamburger__bar {
  opacity: 0;
}

.hide {
  display: none;
}

.log-link {
  background-color: #17c3ce;
  width: 200px;
  display: block;
  margin: 0 auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 60px;
  color: #ffffff;
}

.to-down {
  -webkit-animation: toDown 0.4s;
          animation: toDown 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes toDown {
  0% {
    top: 300px;
    opacity: 0;
  }
  100% {
    top: 355px;
    opacity: 1;
  }
}

@keyframes toDown {
  0% {
    top: 300px;
    opacity: 0;
  }
  100% {
    top: 355px;
    opacity: 1;
  }
}

#back-top {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 20px;
  bottom: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#back-top i {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 27px;
  color: #0e757c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#back-top:hover {
  background-color: #0e757c;
}

#back-top:hover i {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */