* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  width: 100%;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

.container__header__navigation--mobile {
  width: 100%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
  padding: 30px 20px;
  position: relative;
}

.container__header__navigation--mobile__hamburger-container {
  top: 25px;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container__header__navigation--mobile__hamburger-container__icon {
  background-color: #17c3ce;
  height: 2px;
  width: 42px;
  position: relative;
  top: 25px;
}

.container__header__navigation--mobile__hamburger-container__icon::before, .container__header__navigation--mobile__hamburger-container__icon::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: -10px;
  left: 0;
  background-color: #17c3ce;
}

.container__header__navigation--mobile__hamburger-container__icon::after {
  top: -10px;
}

.container__header__navigation--mobile__logo {
  width: 150px;
}

.container__header__navigation--mobile__list {
  width: 100%;
  position: absolute;
  top: 300px;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  height: 500px;
  padding-bottom: 50px;
  -webkit-box-shadow: 0 7px 10px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 10px -7px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__header__navigation--mobile__list__item__link {
  color: #353e3f;
  font-weight: 400;
  font-size: 18px;
}

.hide {
  display: none;
}

.log-link {
  background-color: #17c3ce;
  width: 200px;
  display: block;
  margin: 0 auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 60px;
  color: #ffffff;
}

.to-down {
  -webkit-animation: toDown 0.4s;
          animation: toDown 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes toDown {
  0% {
    top: 300px;
    opacity: 0;
  }
  100% {
    top: 355px;
    opacity: 1;
  }
}

@keyframes toDown {
  0% {
    top: 300px;
    opacity: 0;
  }
  100% {
    top: 355px;
    opacity: 1;
  }
}

.to-up {
  -webkit-animation: toUp 0.4s;
          animation: toUp 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes toUp {
  0% {
    top: 355px;
    opacity: 1;
  }
  100% {
    top: 300px;
    opacity: 0;
  }
}

@keyframes toUp {
  0% {
    top: 355px;
    opacity: 1;
  }
  100% {
    top: 300px;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */